# Docker
sql_data/

# .NET / Visual Studio
backend/bin/
backend/obj/
backend/*.user
backend/.vs/

# Angular
frontend/node_modules/
frontend/dist/

# Environment / secrets
appsettings.Development.json
*.env
.env
!.env.example
